<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.FinalProject.feature_attendee_manager_organizer.presentation.AttendeeListActivity"
            android:exported="false" />
    </application>

</manifest>
